<ul class="list-group">
  <li class="list-group-item">
  <div class="card-text">
  <span class="text-muted">Entre com seus dados para acessar</span>
  </div>
    <form>
        <div class="form-group">
          <div class="input-group mb-3">
          <div class="input-group-prepend">
            <input type="text" class="form-control" id="usr" placeholder="Email">
            <span class="input-group-text">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
          </div>  
        </div>
        <div class="form-group">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
          <input type="password" class="form-control" id="pwd" placeholder="Senha">
          <span class="input-group-text">
              <i class="fas fa-lock"></i>
          </span>
        </div>
        </div>
        <div class="row input-style">
          <div class="form-group form-check check-style icheckbox_square-blue">
            <input type="checkbox" class="form-check-input icheckbox_square-blue" id="exampleCheck1">
            <label class="form-check-label text-muted" for="exampleCheck1">Lembrar-me</label>
          </div>
          <button type="button" class="btn btn-primary btn-sm button-style" routerLink="/dashboard-cli">Login</button>
          </div>                
        </div>        
        </form>  
        <span class="text-style text-muted">- OU -</span>  
        <div class="links-style">   
        <div>
          <a href="#" routerLink="/register">Cadastro</a>
        </div>
        <div>
          <a href="#" routerLink="/forgot">Esqueci a senha</a>
        </div> 
        </div>
</li>
</ul>
<div class="info-style">
<div>
  <span>PREFEITURA BELO HORIZONTE</span><br>
  <span>ESTACIONAMENTO ROTATIVO BELO HORIZONTE</span>
</div>

<div class="info-style1">
  <span>www.transitabile.com.br</span><br>
  <span>contato@transitabile.com.br</span>
</div>

<div>
  <span>Versão 4.1</span>
</div>
</div>