<div>

<div id="mySidenav" class="sidenav nav-title">
  <!-- Grey with black text -->
<nav class="navbar navbar-expand-sm navbar-dark navbar-style">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">
        <div id="title">
          <strong class="title-font">transitabile</strong>          
        </div><br>
        <br>
      </a>
    </li>
    <li class="nav-item">
      <p class="nav-link">
      <a href="javascript:void(0)" class="closebtn" (click)="btnSide()"><i class="fa fa-bars icon"></i></a>
      </p>
    </li>
  </ul>
</nav>
<div id="menu">
  <a href="#" ><i class="fas fa-home"></i>  Início</a><br>
  <a href="#" routerLink="/"><i class="fas fa-user"></i>  Perfil</a><br>
  <a href="#" routerLink="/"><i class="fas fa-search"></i>  Procurar Vaga</a><br>
  <a href="#" routerLink="/"><i class="fas fa-car"></i>  Meus Veículos</a><br>
  <a href="#" routerLink="/"><i class="fas fa-history"></i>  Histórico</a><br>
  <a href="#" routerLink="/"><i class="fas fa-cogs"></i>  Configurações</a><br>
  <a href="#" routerLink="/"><i class="fas fa-life-ring"></i>  Suporte</a><br>
  <a href="#" routerLink="/"><i class="fas fa-envelope"></i>  Contato</a><br>
  <a href="#" routerLink="/"><i class="fas fa-list"></i>  Termos</a><br>
  <a href="#" routerLink="/"><i class="fas fa-sign-out-alt"></i>  Logout</a><br>
</div>

<div id="menu2">
  <a href="#"><i class="fas fa-home"></i></a><br>
  <a href="#"><i class="fas fa-user"></i></a><br>
  <a href="#"><i class="fas fa-search"></i></a><br>
  <a href="#"><i class="fas fa-car"></i></a><br>
  <a href="#"><i class="fas fa-history"></i></a><br>
  <a href="#"><i class="fas fa-cogs"></i></a><br>
  <a href="#"><i class="fas fa-life-ring"></i></a><br>
  <a href="#"><i class="fas fa-envelope"></i></a><br>
  <a href="#"><i class="fas fa-list"></i></a><br>
  <a href="#"><i class="fas fa-sign-out-alt"></i></a><br>
</div>
</div>

</div>