<ul class="list-group">
  <li class="list-group-item">
  <div class="card-text">
  <span class="text-muted">Termos de aceite e uso do aplicativo</span>
  </div>

  <div class="accordion" id="accordionExample">
  <div class="">
    <div class="" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-primary style-collapse" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Termos de aceite
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body card-font">
        Ao marcar o espaço abaixo denominado “Li e estou de acordo com os termos e regulamentos acima”, 
        o usuário declara que concorda com todos os termos referidos naqueles documentos.
      </div>
    </div>
  </div>
  <div class="">
    <div class="" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-primary style-collapse collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Termos de uso
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body card-font">
        <strong>Termos de Uso</strong><br><br>
<strong>1.CONDIÇÕES DE USO E ACEITE DO TERMO DE USO</strong>
<br><br>
 1.1.As condições gerais, deste Termo de Uso, doravante denominado TERMO, aplicáveis ao uso dos serviços oferecidos pela Transitabile Sistema de Controle de Vagas Automotivas Ltda, pessoa jurídica de direito privado, com CNPJ sob nº 28.729.743/0001-16, com sede à Rua Dos Guajajaras, 40, sl 704, Centro, Belo Horizonte, MG, CEP 30.180-910, doravante denominada DISTRIBUIDORA, são apresentadas a este Usuário, doravante denominado USUÁRIO, acesso as informações necessárias para uso do aplicativo da DITRIBUIDORA, denominado TRANSITABILE, bem como acesso a página na internet www.transitabile.com.br., para uso de créditos a serem utilizados no estacionamento rotativo digital pelo o USUÁRIO e comercializados Pela DISTRIBUIDORA.
<br>1.2.Versão – Esta é a versão 1 de 03 de Julho de 2018.
<br>1.3.A DISTRIBUIDORA  poderá a qualquer momento modificar e alterar este termo de uso  sem que haja comunicação aos USUÁRIOS, sendo que os mesmos podem acessar tais alterações nos links disponíveis no site www.transitabile.com.br. 
<br>1.4.O USUÁRIO é responsável de verificar as alterações e modificações neste termo de uso.
O USUÁRIO para utilizar o aplicativo da DISTRIBUIDORA deverá ler e aceitar os termos de uso clicando no ícone LI E ACEITO do aplicativo onde regem as políticas e normas de uso do aplicativo, sendo que automaticamente concorda e acata tais termos, bem como a política de privacidade da DISTRIBUIDORA.
<br>1.5.O USUÁRIO ao acessar os serviços concorda com este TERMO de uso e caso discorde, deverá proceder contato com a DISTRIBUIDORA.
<br>1.6.Este TERMO atende ao cumprimento disposto no Código de Defesa do Consumidor, para uso dos serviços disponibilizados por meio virtual pela DISTRIBUIDORA.
<br><br>
<strong>2.DAS DEFINIÇÕES</strong>
<br><br>
 2.1.TRANSITABILE – Aplicativo desenvolvido pela Transitabile Sistema de Controle de Vagas Automotivas Ltda, pessoa jurídica de direito privado, com CNPJ sob nº 28.729.743/0001-16, com sede à Rua Dos Guajajaras, 40, sl 704, Centro, Belo Horizonte, MG, CEP 30.180-910, para venda e uso de créditos para estacionamento do Rotativo Digital do município de Belo Horizonte.
<br>2.2.BHTrans – Empresa de Empresa de Transporte e Trânsito de Belo Horizonte responsável pela gestão do estacionamento Rotativo Digital de Belo Horizonte.
<br>2.3.PRODABEL – A Empresa de Informática e Informação do Município de Belo Horizonte (Prodabel), é uma sociedade de economia mista municipal responsável pela gestão da informática pública da capital mineira.
<br>2.4.USUÁRIO – Pessoa que adquire e/ou utiliza o Rotativo Digital nas vagas de estacionamento rotativo e que utiliza o aplicativo TRANSITABILE para estes fins.
<br>2.5.APP – APLICATIVO – Aplicativo a ser disponibilizado e operado pela TRANSITABILE para instalação em aparelhos móveis (celulares, smartphones, tablets) visando permitir que o USUÁRIO adquira e ative o –ROTATIVO DIGITAL, consulte seus dados, extratos de movimentação e receba os devidos comprovantes de pagamento.
<br>2.6.CRÉDITOS – São os Rotativos Digitais emitidos pela BHTrans e são créditos eletrônico que correspondente  à unidade monetária comercializada entre a TRANSITABILE e o USUÁRIO para que o mesmo utilize no uso de vagas do estacionamento rotativo.
<br>2.7.CARTÃO TRANSITABILE BH (CTB) – Cartão com código de créditos que pode ser adquirido pelo USUÁRIO em pontos de vendas. 
<br>2.8.BÔNUS – Parte integrante e vinculado ao crédito  que pode ser utilizado para estacionar na vaga por um período de trinta minutos.
<br>2.9.REGRA DE ESTACIONAMENTO – Período de tempo para ocupação de uma vaga de estacionamento utilizando o TRANSITABILE. O período é identificado pelas placas R-6b da BHTrans e pode ser de 60, 120, 300 e 720 minutos.
<br>2.10.As definições descritas aqui neste TERMO podem sofrer modificações porém tais modificações não invalidam este TERMO como um todo.
<br><br>
<strong>3.DO CADASTRO, USO  E INFORMAÇÕES DADAS PELO USUÁRIO</strong>
<br><br>
 3.1.O USUÁRIO é responsável e concorda em fornecer todas as informações necessárias para a efetiva utilização do TRANSITABILE. 
<br>3.2.O USUÁRIO ao realizar o cadastro de seu perfil ou de veículos, declara que todos os dados ali informados são verdadeiras e que tais informações são de sua responsabilidade.
<br>3.3.Ao realizar o cadastro o USUÁRIO deverá informar Nome Completo, e-mail, CPF, RG, número do celular e senha de acesso.
<br>3.4.O USUÁRIO é responsável pelo uso do TRANSITABILE quando da aquisição e ativação de créditos, bem como das demais funcionalidades do TRANSITABILE.
<br>3.5.De acordo com a política de privacidade da DISTRIBUIDORA, o USUÁRIO concorda que a DISTRIBUIDORA poderá utilizar todas as informações cadastrais do USUÁRIO, gratuitamente.
<br>3.6.O USUÁRIO  concorda em receber mensagens enviadas pelo TRANSITABILE, seja de caráter de funcionalidade, alertas e avisos, seja de publicidades, as quais poderão ser canceladas pelo USUÁRIO.
 <br>3.7.O TRANSITABILE não se responsabiliza por uso indevido dos dados de acesso do USUÁRIO, bem como sua perda ou extravio. É de responsabilidade do USUÁRIO a manutenção e o correto uso de seus dados de acesso ao TRANSITABILE.
<br><br>
<strong>4.ATENDIMENTO AO USUÁRIO</strong>
<br><br>
<br>4.1.O USUÁRIO será atendido pela DISTRIBUIDORA pelos meios de comunicação a saber,
<br>4.1.1.FALE CONOSCO: Canal de comunicação que pode ser utilizado pelo USUÁRIO diretamente pelo TRANSITABILE ou  pelo formulário no site www.transitabile.com.br 
<br>4.1.2.E-MAIL: O USUÁRIO pode contatar por e-mail, atendimento@transitabile.com.br .
<br>4.1.3.TELEFONE:  Por via telefone o USUÁRIO fala com a DISTRIBUIDORA no número (031) 3243 5552.  Este atendimento estará disponível de segunda-feira a sexta-feira das 07h30m às 18h00m e nos sábados de 07h30m às 13h00m.
<br><br>
<strong>5.RESPONSABILIDADE DO USUÁRIO</strong>
<br><br>
5.1.O USUÁRIO no uso do TRANSITABILE se responsabiliza por quaisquer despesas, prejuízos e/ou danos causados ao USUÁRIO e/ou a terceiros, ocasionados por:

<br>5.1.1.Erro de entradas de dados seja no cadastro pessoal ou de veículos;
<br>5.1.2.Inobservâncias das regras de trânsito  e/ou de estacionamento em vagas onde o veículo for estacionado;
<br>5.1.3.Perda ou uso pro terceiro de senha de acesso;
<br>5.1.4.Utilização incorreta do TRANSITABILE seja na aquisição de créditos, ativação de crédito e ativação de alarmes de aviso de tempo de estacionamento, bem como não observar a REGRA DE ESTACIONAMENTO;
<br>5.1.5.Pelo funcionamento dos equipamentos utilizados para uso do TRANSITABILE, serviços de telecomunicação contratado pelo USUÁRIO e todos outros software utilizados pelo seu equipamento.
<br><br>
<strong>6.RESPONSABILIDADE DA DISTRIBUIDORA</strong>
<br><br>
 6.1.Manter absoluto sigilo sobre os dados pessoais do USUÁRIO e só divulga-los por determinação de força da lei.
<br>6.2.Dispender esforços para melhoria dos serviços ao USUÁRIO.
<br>6.3.O USUÁRIO concorda expressamente que DISTRIBUIDORA não se responsabiliza por quaisquer danos diretos, indiretos, incidentais, lucros cessantes causados pelo ao USUÁRIO pelo uso do TRANSITABILE.
<br><br>
<strong>7.USO  DO TRANSITABILE</strong>
<br><br>
<br>7.1.DO ACESSO
<br>7.1.1.O USUÁRIO deve fazer o download do  TRANSITABILE nas lojas do Apple Store ou Play Store para as plataformas iOS ou Android respectivamente.
<br>7.1.2.O USUÁRIO deverá realizar seu cadastro incluindo seu Nome Completo, e-mail, CPF, RG, número do celular e senha de acesso que deve ser confirmada.
 <br>7.2.DA AQUISIÇÃO DE CRÉDITO
<br>7.2.1.Na primeira tela o USUÁRIO inicia a aquisição de créditos clicando no ícone verde, “Seus Créditos”.
<br>7.2.2.A tela seguinte disponibilizará  as opções de aquisição.
<br>7.2.3.A aquisição pode ser realizada por cartão de crédito ou boleto bancário. No caso de boleto bancário os créditos adquiridos só serão validados após compensação bancária.
<br>7.2.4.O USUÁRIO poderá adquirir o CARTÃO TRANSITABILE BH (CTB)  em Pontos de Venda e com este fazer aquisição de CRÉDITOS.  Para tanto, adquire o CTB verifica o código de compra no CTB e na tela de aquisição de CRÉDITOS insere o referido código ativando assim o CRÉDITO adquirido.
<br>7.2.5.O USUÁRIO poderá solicitar cancelamento da aquisição de crédito pelos canais de atendimento, desde que seja autorizado pela BHTrans. Após a análise da BHTrans a DISTRIBUIDORA reembolsará ou não o USUÁRIO.
 <br>7.3DA ATIVAÇÃO DE CRÉDITOS (ROTATIVO DIGITAL)
<br>7.3.1.O USUÁRIO utilizará na primeira tela o ícone azul “Estacionar”.
<br>7.3.2.Deverá o USUÁRIO escolher a opção de utilizar BÔNUS ou CRÉDITO para realizar o estacionamento.
<br>7.3.3.A opção BÔNUS  dará o direito do USUÁRIO de trinta minutos de estacionamento. 
<br>7.3.4.Se optar por estacionar com CRÉDITO e se o USUÁRIO optou por receber alerta de tempo, o mesmo deverá escolher a REGRA DE ESTACIONAMENTO que lhe será apresentada para receber o respectivo alerta de tempo.
<br>7.3.5.O USUÁRIO  poderá ativar crédito ou BÔNUS para no máximo dois veículos em um mesmo dia.
<br><br>
<strong>8.FORO</strong>
<br><br>
8.1.As Partes elegem o Foro da Comarca de Belo Horizonte, MG,  para dirimir quaisquer eventuais dúvidas e/ou controvérsias advindas deste instrumento contratual, mesmo que haja outro por mais privilegiado que seja.
      </div>
    </div>
  </div>
  <div class="">
    <div class="" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-primary style-collapse collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Regulamento
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body card-font">
        <span><strong>Regulamento Estacionamento<br>
          Rotativo BHTrans</strong></span><br><br>
          <a href="#">
          <img id="myImg" src="assets/images/img-terms.png" style="width:100%"><br><br>
          </a>
      </div>
    </div>
  </div>
</div>


  <div class="form-group form-check check-style">
    <input type="checkbox" class="form-check-input icheckbox_square-blue" id="exampleCheck1">
    <label class="form-check-label text-muted" for="exampleCheck1">
      Li e estou de acordo com os termos e regulamento acima
    </label>
  </div>     

  <div>
    <a href="#" routerLink="/register">Voltar</a>
  </div>
        
</li>
</ul>
<div class="info-style">
<div>
  <span>PREFEITURA BELO HORIZONTE</span><br>
  <span>ESTACIONAMENTO ROTATIVO BELO HORIZONTE</span>
</div>

<div class="info-style1">
  <span>www.transitabile.com.br</span><br>
  <span>contato@transitabile.com.br</span>
</div>

<div>
  <span>Versão 4.1</span>
</div>
</div>