<div class="row">
<!-- Tag de chamada nav.component -->
<div class="col-2">
  <app-side></app-side>
</div>
<!-- Tag de chamada nav.component -->

<!-- Tag de chamada profile-perfil.component -->
<div class="col-10">
<!-- Tag de chamada nav.component -->
<div>
  <app-nav></app-nav>
</div>
<!-- Tag de chamada nav.component -->
<router-outlet name="dash_router"></router-outlet>
<!-- Tag de chamada profile-perfil.component -->

<!-- Tag de chamada footer.component -->
  <div>
  <app-footer></app-footer>
  </div>
<!-- Tag de chamada footer.component -->
</div>
</div>

<router-outlet></router-outlet>