<ul class="list-group">
  <li class="list-group-item">
  <div class="card-text">
  <span class="text-muted">Recuperar senha</span>
  </div>
    <form>
        <div class="form-group">
          <div class="input-group mb-3">
          <div class="input-group-prepend">
            <input type="text" class="form-control" id="usr" placeholder="Email">
            <span class="input-group-text">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
          </div>  
          <button type="button" class="btn btn-primary btn-sm button-style">Recuperar</button>  
        </div>   
        </form>  
        <span class="text-style text-muted">- OU -</span>  
        <div class="links-style">   
        <div>
          <a href="#" routerLink="/login">Voltar ao Login</a>
        </div>
        </div>
</li>
</ul>
<div class="info-style">
<div>
  <span>PREFEITURA BELO HORIZONTE</span><br>
  <span>ESTACIONAMENTO ROTATIVO BELO HORIZONTE</span>
</div>

<div class="info-style1">
  <span>www.transitabile.com.br</span><br>
  <span>contato@transitabile.com.br</span>
</div>

<div>
  <span>Versão 4.1</span>
</div>
</div>