<div class="jumbotron footer-style">

<p class="text-muted footer-font">
  PREFEITURA MUNICIPAL DE BELO HORIZONTE<br>
  BHTRANS - Empresa de Transporte Público de BH<br>
  <a href="http://www.bhtrans.pbh.gov.br" target="_blank" class="text-muted">www.bhtrans.pbh.gov.br</a>
</p>

<p class="text-muted footer-font">
Transitabile Sistema de Controle de Vagas Automotivas Ltda<br>
CNPJ: 28.729.743/0001-16<br>
<a href="https://www.transitabile.com.br/" target="_blank" class="text-muted">www.transitabile.com.br/</a><br>
contato@transitabile.com.br
</p>
<p class="text-muted footer-font">
<strong>Versão</strong> 4.1.0
</p>
</div>