.home-font
    font-size: 21px
    text-align: left
    font-family: 'Source Sans Pro', sans-serif
    color: black
    margin-left: 12%
.status
    margin-left: -2px    
    margin-top: 5%
    margin-bottom: 5%
    width: 82%
.btn-home   
    margin-bottom: 5%
    margin-right: 5%
.body-home
    margin-left: 14% 
    width: 200px
    margin-bottom: 3%
.body-status
    font-size: 12px
    margin-left: 2%
.btn-status
    margin-left: 50%  
.page-style
    height: 580px  
    margin-left: 8%   
.list-group
    margin-left: 18%       
.card-style
    margin-left: -14%  
.text-style
    margin-left: 20px
.btn-style
    width: 100%
.card-back1
    background-color: #1E90FF 
.card-back2
    background-color: #3CB371    
.card-back3
    background-color: #008B8B
.card-back4
    background-color: #B22222             
