<div class="body-home">
<p class="home-font">
  <strong>Bem vindo!</strong> Painel de Controle
</p>
<div class="row">
  <div class="card bg-primary text-white">
    <div class="card-body">Estacionar</div>
  </div>
  <div class="card bg-success text-white">
    <div class="card-body">Créditos - RDs</div>
  </div>
  <div class="card bg-warning text-white">
    <div class="card-body">Veículos</div>
  </div>
  <div class="card bg-danger text-white">
    <div class="card-body">Perfil</div>
  </div>
</div>
<div class="status">
  <ul class="list-group">
    <li class="list-group-item"><strong>Estacionamento</strong></li>
    <li class="list-group-item">
      <div class="row">
        <p class="body-status">Carro - Placa</p><div><span class="badge badge-primary btn-status">Status</span></div>
      </div>
    </li>
  </ul>
</div>
</div>