<div class="page-style">
<div class="card card-style">
  <div class="card-body">

<p class="home-font">
  <strong>Bem vindo!</strong> Painel de Controle
</p>

<div class="row">
<div class="body-home">
  <div class="card bg-primary text-white">
    <div class="card-body"><strong>Estacionar</strong></div>
    <div class="text-style"><p>Estacione agora</p></div>
    <div><button type="button" class="btn btn-primary btn-style card-back1">
      Acessar <i class="fas fa-arrow-alt-circle-right"></i>
    </button></div>
  </div>
</div>

<div class="body-home">
  <div class="card bg-success text-white">
    <div class="card-body">Créditos - RDs</div>
    <div class="text-style"><p>Seus Créditos</p></div>
    <div><button type="button" class="btn btn-success btn-style card-back2">
      Saldo <i class="fas fa-arrow-alt-circle-right"></i>
    </button></div>
  </div>
</div>

<div class="body-home">
  <div class="card bg-info text-white">
    <div class="card-body">Veículos</div>
    <div class="text-style"><p>Meus veículos</p></div>
    <div><button type="button" class="btn btn-info btn-style card-back3">
      Lista <i class="fas fa-arrow-alt-circle-right"></i>
    </button></div>
  </div>
</div>

<div class="body-home">  
  <div class="card bg-danger text-white">
    <div class="card-body">Perfil</div>
    <div class="text-style"><p>Meu perfil</p></div>
    <div><button type="button" class="btn btn-danger btn-style card-back4">
      Editar <i class="fas fa-arrow-alt-circle-right"></i>
    </button></div>
  </div>
</div>

<div class="status">
  <ul class="list-group">
    <li class="list-group-item"><strong>Estacionamento</strong></li>
    <li class="list-group-item">
      <div class="row">
        <p class="body-status">Carro - Placa</p><div><span class="badge badge-primary btn-status">Status</span></div>
      </div>
    </li>
  </ul>
</div>
</div>
</div>
</div>
</div>